<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916336084919-jaq1ac6sok4uogfj6crss93p9io66h5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916336084919-jaq1ac6sok4uogfj6crss93p9io66h5c</string>
	<key>API_KEY</key>
	<string>AIzaSyDTfbZhRw3HpTqqPL2HrI8uGelKztw88IQ</string>
	<key>GCM_SENDER_ID</key>
	<string>916336084919</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.luna</string>
	<key>PROJECT_ID</key>
	<string>luna-ee317</string>
	<key>STORAGE_BUCKET</key>
	<string>luna-ee317.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916336084919:ios:79f2ef8cb80aca69e18a32</string>
</dict>
</plist>